<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Djengoframework version 100</title>
    
    <!-- ExtJS -->
    <script type="text/javascript" src="/static/examples/shared/include-ext.js"></script>
    <script type="text/javascript" src="/static/examples/shared/options-toolbar.js"></script>
    {% csrf_token %}

    <!-- Shared -->
    <link rel="stylesheet" type="text/css" href="/static/examples/shared/example.css" />
    <meta name="csrf-token"  content="{{ CSRF_TOKEN }}" />

    <!-- Example -->
    <script type="text/javascript" src="/static/examples/desktop/login.js"></script>{% csrf_token %}

</head>
<body>

</body>
</html>
